.matchcontainer{
    margin-bottom: 50px;
}


.box{
    width: 275px;
    height: 45px;
    background-color: #ffffff;
    border-color: rgba(201, 201, 201, 0.7);
    border-style: solid;
    margin-bottom: 10px;
    border-width: thin;
}


.roundcontainer{
    margin-right: 250px;
    min-width: 0px;
    align-self: center
}


.pagecontainer{
    display: flex;
    align-items:flex-start;
    gap: 200px;
    justify-content: center;
    page-break-inside: avoid;
}

.words{
    margin: 10px;
}
