{% extends "index.html"%} {% block title %}Add Teams{% endblock %} {% block content
    %}
    <form method="POST">
      <h3 align="center">Match Score Updating</h3>
      <p align = "center">For updating a match's score record.</p>
      <div class="form-group">
        <label for="id">Match ID</label>
        <input
          type="id"
          class="form-control"
          id="id"
          name="id"
          placeholder="Enter the match id of the match to be modified."
        />
      </div>
      <div class="form-group">
        <label for="T1Score">Team 1 Score</label>
        <input
          type="T1Score"
          class="form-control"
          id="T1Score"
          name="T1Score"
          placeholder="Enter the score of Team one."
        />
      </div>  
      <div class="form-group">
        <label for="T2Score">Team 2 Score</label>
        <input
          type="T2Score"
          class="form-control"
          id="T2Score"
          name="T2Score"
          placeholder="Enter the score of Team two."
        />
      </div>  
      <br/>
      <button type="submit" class = "btn btn-primary">Submit form</button>
    </form>
    {% endblock %}