{%extends "index.html"%} 

{% block title %}Home{% endblock %} {% block content
%}
<div class = "pagecontainer">
<div class = "roundcontainer">
    <div class = "box">
        <div class = "words">TBD</div>
    </div>
</div>
<div class = "roundcontainer">
    <div class = "box">
        <div class = "words">TBD</div>
    </div>
</div>
<div class = "roundcontainer">
    <div class = "box">
        <div class = "words">TBD</div>
    </div>
</div>
<div class = "roundcontainer">
    <div class = "box">
        <div class = "words">TBD</div>
    </div>
</div>
<div class = "roundcontainer">
    <div class = "box">
        <div class = "words">TBD</div>
    </div>
</div>
</div>
{% endblock %}